<h1>Arriendos</h1>
<div class="row">
    <div class="col-6">
        <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Type to filter">
    </div>
</div>
<hr>
<table class="table table-striped" *ngIf='arriendo && arriendos.length'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">IdArriendo</th>
            <th scope="col">Deposito </th>
            <th scope="col">Estado</th>
            <th scope="col">FechaIngreso</th>
            <th scope="col">FechaDesalojo</th>
            <th scope="col">Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arriendo of arriendos">
            <td>{{ arriendo.idArriendo}}</td>
            <td>{{ arriendo.idCliente}}</td>
            <td>{{ arriendo.idApartamento}}</td>
            <td>{{ arriendo.fechaIngreso}}</td>
            <td>{{ arriendo.fechaDesalojo}}</td>
            <td>{{ arriendo.total}}</td>
            <td>
                <button (click)="ubica(persona.idArriendo)" type="button" class="btn btn-danger">Eliminar </button>
            </td>
        </tr>
    </tbody>
</table>