<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Apartamentos mitaWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>

                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/registro']">registro</a>

                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <button class="dropdown-item">Action - 1</button>
                                    <button class="dropdown-item">Another Action</button>
                                    <button class="dropdown-item">Something else is here</button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/consulta']">Consulta</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
                            <a class="nav-link text-dark" [routerLink]="['/apartamentoregistro']">Registro Personas - Reactivo</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
                            <a class="nav-link text-dark" (click)="logout()">Cerrar Sesion</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!currentUser">
                            <a class="nav-link text-dark" [routerLink]="['/login']">Iniciar Sesion</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>