<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Apartamentos mitaWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>

                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Registro</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/registro']">Arriendo</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/registroApartamento']">Apartamento</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/registroMovimiento']">Movimiento</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" *ngIf="currentUser" [routerLink]="['/registroUsuario']">Usuario</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" *ngIf="currentUser" [routerLink]="['/registroCliente']">Cliente</a></button>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Consulta</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/consulta']">Arriendo</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/consultaApartamento']">Apartamento</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" *ngIf="currentUser" [routerLink]="['/consultaUsuario']">Usuario</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/consultaCliente']">Cliente</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/consultaMovimiento']">Movimiento</a></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn" id="dropdownBasic1" ngbDropdownToggle>Buscar</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/buscar']">Arriendo</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/buscarApartamento']">Apartamento</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/buscarUsuario']">Usuario</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/buscarCliente']">Cliente</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/buscarMovimiento']">Movimiento</a></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Actualizar</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/modificar']">Arriendo</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/modificarApartamento']">Apartamento</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/modificarUsuario']">Usuario</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/modificarCliente']">Cliente</a></button>
                                        <button ngbDropdownItem> <a class="nav-link text-dark" [routerLink]="['/modificarMovimiento']">Movimiento</a></button>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
                            <a class="nav-link text-dark" [routerLink]="['/apartamentoregistro']">Registro Personas - Reactivo</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
                            <a class="nav-link text-dark" (click)="logout()">Cerrar Sesion</a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
                            <a class="nav-link text-dark" [routerLink]="['/login']">Iniciar Sesion</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>