<div class="container">

    <h2 class="text-lg-center">Registro de ocupantes</h2><br>
    <form [formGroup]="formGroup">
        <div style="text-align: right">
            <label>Arriendo N°
            <input disabled type="text" style="text-align:right;" name="nombre" class="form-control"  placeholder="{{this.mita.idArriendo}}" formControlName="idArriendo" /></label>
        </div>
        <h6>Datos del Apartamento</h6>
        <hr>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label>Apartamento</label>
                <select type="text" name="apartamento" class="form-control" formControlName="idApartamento" (change)="onChange()">
                        <option value=""  selected>Elige...</option>
                        <option *ngFor="let apartamento of apartamentos;">{{apartamento.idApartamento}}</option>
               </select>
            </div>
            <div class="form-group col-md-4 ">
                <label>Valor Arriendo</label>
                <input disabled type="number" name="arriendo" id="arriendo" placeholder="{{mapartamento.valorApartamento}}" class="form-control" />
            </div>
            <div class="form-group col-md-4 ">
                <label>Valor Deposito</label>
                <input disabled type="number" name="deposito" id="deposito" placeholder="{{mapartamento.deposito}}" class="form-control" />

            </div>
        </div>

        <h6>Datos del Cliente</h6>
        <hr>
        <div class="form-row ">
            <div class="form-group col-md-4">
                <label>Identificacion</label>
                <input type="number" name="identificacion" class="form-control" formControlName="idCliente" (change)="onChangeCustomer()" />
            </div>
            <div class="form-group col-md-4">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control" formControlName="nombre" />
            </div>
            <div class="form-group col-md-4">
                <label>Telefono</label>
                <input type="number" name="telefono" class="form-control" formControlName="telefono" />
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Fecha de Ingreso</label><br>
                <input id="fecha" name="fecha" type="date" formControlName="fechaIngreso" min="2018-01-01" max="2025-12-31" />
            </div>
        </div>
        <div>
            <h2><label>Total valor a pagar ${{this.mita.total}}</label></h2>
        </div>

        <div class="text-center ">
            <button class="btn btn-primary mr-1 " (click)="onSubmit() " [disabled]="formGroup.invalid">Register</button>
            <button class="btn btn-secondary " type="reset ">Cancel</button>
        </div>
    </form>
</div>