<h1>Bienvenido</h1>
<p>Estos son los ultimos movimiento en causa de los apartamentos</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Apartamento</th>
            <th scope="col">Usuario</th>
            <th scope="col">Detalle</th>
            <th scope="col">Aporte</th>
            <th scope="col">Resto</th>
            <th scope="col">Modificador</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>Apt.1</td>
            <td>Otto</td>
            <td>500.000</td>
            <td>400.000</td>
            <td>100.000</td>
            <td>Usuario1</td>
        </tr>
        <tr>

            <td>Apt.2</td>
            <td>luna</td>
            <td>300.000</td>
            <td>300.000</td>
            <td>0</td>
            <td>Usuario1</td>
        </tr>
        <tr>

            <td>Apt.1</td>
            <td>Otto</td>
            <td>100.000</td>
            <td>100.000</td>
            <td>0</td>
            <td>U suario6</td>
        </tr>
    </tbody>
</table>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Apt.1
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Apt.2
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3" autocomplete="off"> Apt.3
    </label>

</div><br>
<div>
    <h2><label>el dinero obtenido de momento es $ 800000</label></h2>
</div>