<h1>Bienvenido</h1>
<p>Estos son los ultimos movimiento en causa de los apartamentos</p>

<hr>
<table class="table table-striped" *ngIf='movimientos && movimientos.length'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">IdMovimiento</th>
            <th scope="col">Detalle</th>
            <th scope="col">Valor </th>
            <th scope="col">Fecha </th>
            <th scope="col">IdUsuario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimiento of movimientos ">
            <td>{{ movimiento.idMovimiento}}</td>
            <td>{{ movimiento.detalle}}</td>
            <td>{{ movimiento.valor}}</td>
            <td>{{ movimiento.fecha}}</td>
            <td>{{ movimiento.idUsuario}}</td>
        </tr>
    </tbody>
</table>
<div>
    <h2><label>el dinero obtenido de momento es ${{this.ganancia}}</label></h2>
</div>